@import "tailwindcss";

.text-primary {
  color: #007bff;
}
.text-light {
  color: #f5f7f8;
}

.bg-light {
  background-color: #f5f7f8;
}

.bg-dark {
  background-color: #101922;
}

* {
  color: #f5f7f8;
}
